body {
    background: grey;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p {
    color: white;
}

video {
    width: 100%;
    max-height: 99vh;
    object-fit: fill;
}

.video-wrapper {
    max-height: 100vh;
}

.video-container {
    max-height: 50%;
    max-width: 100%;
}

.controls {
    position: relative;
    bottom: 8rem;
}

.video-progress-bar[type="range"] {
    height: 5px;
    width: 99%;
    accent-color: #ff0000;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 1.5rem;
}

.play-pause-btn {
    background-color: transparent;
    fill: none;
    border: none;
    color: #ffff;
}

.mute-unmute-btn {
    background-color: transparent;
    fill: none;
    border: none;
    color: #ffff;
}

.volume-bar[type="range"] {
    height: 20px;
    width: 60%;
    accent-color: #ff0000;
}